!!!
%html
	%head
		%title Inventario
		%link{:href => 'css/main.css', :rel => 'stylesheet', :type => 'text/css'}
	%body
		.header
			%h1 Inventario

		.container= yield

		.footer
			&copy; Perix Enterprise 2017.